<%- include("header") %> 

<h2>Thsi is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus atque hic sequi accusantium? Voluptates ut, dolorem doloremque saepe ipsam voluptas.</p>

<%- include("footer") %> 